@charset "utf-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0; padding:0; box-sizing:border-box;
}
html{
  scroll-behavior: smooth;
}
a{box-sizing:border-box;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}


body {
  letter-spacing:-0.01em;
  line-height:1.8;
  -webkit-font-smoothing:antialiased;
  font-size: 16px;
  color: #a1a1a1;
}

h1, h2, h3, h4, h5{
  font-size:1em;font-weight:normal;
}
nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background-color:#ff9;
  color:#666;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border:0 none;
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;
}
input, select, textarea {
  vertical-align:middle;
  box-sizing:border-box;
  border-radius:0;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input{
  margin:0;
}
img, fieldset {
  border:0;
}
ul, ol, li{
  list-style-type:none;
}
li img{
  vertical-align:top;
}
button {
  box-sizing:border-box;
  padding:0;
  border:0;
  background:transparent;
  cursor:pointer;
  font-size: 16px;
  font-weight:300;
}
a{
  text-decoration:none;
}
img{
  vertical-align:middle;
  font-size:0;
}
.clearfix {
  &:after {
    content: "";
    height:0;
    line-height:0;
    visibility:hidden;
    clear: both;
    display: block;
  }
}